/* ==========================================================================
   Global: Page
   ========================================================================== */

.page {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  @include media(medium-up) {
    flex-flow: row nowrap;
  }
}


/* Page header
   ========================================================================== */

.page__header {
  @extend .antialiased;
  background: $base-font-color;
  color: #fff;
  padding: $global-spacing;
  position: relative;
  z-index: 120;

  @include media(medium-up) {
    position: fixed;
    height: 100vh;
    width: 16rem;
    padding: ($global-spacing * 2) ($global-spacing * 2) ($global-spacing * 7) ($global-spacing * 2);
  }

  @include media(large-up) {
    width: 20rem;
  }

  > .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

/* Headline */

.page__headline {
  padding-right: 3rem;

  @include media(medium-up) {
    padding-right: 0;
  }

  > a {
    display: block;
    color: inherit;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.page__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: $base-font-bold;
  margin: 0;

  a {
    display: inline-block;
    vertical-align: top;
    color: inherit;
  }
}

.page__subtitle {
  position: relative;
  @extend .heading-alt;
  color: rgba(#fff, 0.64);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: ($global-spacing / 4) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


/* Page body
   ========================================================================== */

.page__body {
  flex: 1;
  position: relative;
  padding: ($global-spacing * 2) 0;

  @include media(medium-up) {
    flex: 1;
    height: 100vh;
    margin-left: 16rem;
    width: 100%;
    max-width: 56rem;
    padding-left: $global-spacing * 1.25;
    padding-right: $global-spacing * 1.25;
  }

  @include media(large-up) {
    margin-left: 20rem;
    padding-left: $global-spacing * 2;
    padding-right: $global-spacing * 2;
  }

  > .inner {  
    @extend .row;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.page__attribution {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-style: normal;
  padding: 0 0 ($global-spacing) 0;
  box-shadow: 0 1px 0 0 rgba($base-color, 0.08);
  margin: 0 0 ($global-spacing * 2) 0;
  clear: both;

  > *:last-child {
    margin-bottom: 0;
  }

  small {
    @extend .heading-alt;
    position: relative;
    color: rgba($base-font-color, 0.64);
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: block;
  }

  strong {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: $base-font-bold;
  }

  a {
    display: inline-block;
    color: inherit;
    vertical-align: top;
  }

  img {
    width: auto;
    max-height: 2rem;
  }
}

.pa__label {
  width: 100%;

  @include media(medium-up) {
    padding-right: $global-spacing;
  }
}

.pa__logo {
  flex: 0 1 auto;
  display: none;

  @include media(medium-up) {
    display: block;
  }
}


/* Page footer
   ========================================================================== */

.page__footer {
  @extend .antialiased;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: $base-font-regular;
  padding: 0 $global-spacing;

  @include media(medium-up) {
    position: fixed;
    z-index: 140;
    bottom: 0;
    left: 0;
    width: 20rem;
    color: #fff;
    padding: 0 ($global-spacing * 2);
  }

  > .inner {
    overflow: hidden;
    box-shadow: 0 -1px 0 0 rgba($base-color, 0.08);
    padding: ($global-spacing * 2) 0 ($global-spacing * 5) 0;

    @include media(medium-up) {
      padding: 0 0 ($global-spacing * 2.5) 0;
      box-shadow: none;
    }
  }

  a {
    position: relative;
    color: inherit;
    display: block;
    padding-left: ($global-spacing * 3);

    @include media(medium-up) {
      padding-top: ($global-spacing / 2);
    }

    strong {
      font-weight: $base-font-bold;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      background: $primary-color;
      height: 2rem;
      width: 2rem;
      content: "";
      border-radius: $base-border-radius;
      overflow: hidden;

      @include media(medium-up) {
        padding-top: ($global-spacing / 2);
        height: 20rem;
      }
    }

    img {
      width: 2rem;
      height: auto;
    }
  }

  small {
    display: block;
    font-size: inherit;
    font-weight: inherit;
  }

  *:last-child {
    margin-bottom: 0;
  }
}