/* ==========================================================================
   Core: Typography
   ========================================================================== */

.dropcap:first-letter {
  font-size: 3.4em;
  padding: 0 0.1em 0 0;
  line-height: 0.7;
  float: left;
  margin: 0.1em 0.1em 0 0;
}